@font-face {
  font-family: 'ClashDisplay-Extralight';
  src: url('{{ 'ClashDisplay-Extralight.woff2' | file_url }}') format('woff2'),
       url('{{ 'ClashDisplay-Extralight.woff' | file_url }}') format('woff'),
       url('{{ 'ClashDisplay-Extralight.ttf' | file_url }}') format('truetype');
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay-Light';
  src: url('{{ 'ClashDisplay-Light.woff2' | file_url }}') format('woff2'),
       url('{{ 'ClashDisplay-Light.woff' | file_url }}') format('woff'),
       url('{{ 'ClashDisplay-Light.ttf' | file_url }}') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay-Regular';
  src: url('{{ 'ClashDisplay-Regular.woff2' | file_url }}') format('woff2'),
       url('{{ 'ClashDisplay-Regular.woff' | file_url }}') format('woff'),
       url('{{ 'ClashDisplay-Regular.ttf' | file_url }}') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay-Medium';
  src: url('{{ 'ClashDisplay-Medium.woff2' | file_url }}') format('woff2'),
       url('{{ 'ClashDisplay-Medium.woff' | file_url }}') format('woff'),
       url('{{ 'ClashDisplay-Medium.ttf' | file_url }}') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay-Semibold';
  src: url('{{ 'ClashDisplay-Semibold.woff2' | file_url }}') format('woff2'),
       url('{{ 'ClashDisplay-Semibold.woff' | file_url }}') format('woff'),
       url('{{ 'ClashDisplay-Semibold.ttf' | file_url }}') format('truetype');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay-Bold';
  src: url('{{ 'ClashDisplay-Bold.woff2' | file_url }}') format('woff2'),
       url('{{ 'ClashDisplay-Bold.woff' | file_url }}') format('woff'),
       url('{{ 'ClashDisplay-Bold.ttf' | file_url }}') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay-Variable';
  src: url('{{ 'ClashDisplay-Variable.woff2' | file_url }}') format('woff2'),
       url('{{ 'ClashDisplay-Variable.woff' | file_url }}') format('woff'),
       url('{{ 'ClashDisplay-Variable.ttf' | file_url }}') format('truetype');
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}
